workflow-6-bot-commands.json
{
  "name": "6. Bot Commands & Helpers",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Command Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "commands-webhook"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "startsWith",
                    "value2": "/setapi"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "setapi"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "equals",
                    "value2": "/help"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "equals",
                    "value2": "/jobs"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "jobs"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "equals",
                    "value2": "/history"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "history"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.message.text }}",
                    "operation": "equals",
                    "value2": "/alljobs"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "alljobs"
            }
          ]
        }
      },
      "name": "Route Commands",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract API key from command\nconst message = $input.item.json.message.text;\nconst parts = message.split(' ');\n\nif (parts.length < 2) {\n  return {\n    json: {\n      error: true,\n      chat_id: $input.item.json.message.chat.id,\n      message: 'الرجاء إدخال مفتاح API:\\n\\n/setapi YOUR_API_KEY'\n    }\n  };\n}\n\nconst apiKey = parts[1];\n\n// Basic validation\nif (apiKey.length < 20 || !apiKey.startsWith('AI')) {\n  return {\n    json: {\n      error: true,\n      chat_id: $input.item.json.message.chat.id,\n      message: 'مفتاح API غير صحيح. تأكد من نسخه بشكل كامل من Google AI Studio.'\n    }\n  };\n}\n\nreturn {\n  json: {\n    api_key: apiKey,\n    telegram_id: $input.item.json.message.from.id,\n    chat_id: $input.item.json.message.chat.id\n  }\n};"
      },
      "name": "Extract API Key",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users?telegram_id=eq.{{ $json.telegram_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SECRET_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"gemini_api_key\": \"{{ $json.api_key }}\"\n}",
        "options": {}
      },
      "name": "Save API Key",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "✅ تم حفظ مفتاح Gemini API بنجاح!\n\nيمكنك الآن:\n• توليد سير ذاتية مخصصة\n• التقديم على الوظائف\n\nاستخدم /jobs لعرض الوظائف المطابقة لك."
      },
      "name": "Confirm API Key",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=مرحباً بك في بوت التوظيف اليمني! 🇾🇪\\n\\n📋 *الأوامر المتاحة:*\\n\\n/register - التسجيل في النظام\\n/profile - رفع/تحديث سيرتك الذاتية\\n/setapi - إضافة مفتاح Gemini API\\n/jobs - عرض الوظائف المطابقة لك\\n/alljobs - عرض جميع الوظائف\\n/apply [id] - توليد CV للوظيفة\\n/history - سجل السير الذاتية\\n/help - عرض هذه المساعدة\\n\\n💡 *كيف يعمل البوت؟*\\n\\n1️⃣ سجل باستخدام /register\\n2️⃣ ارفع سيرتك الذاتية /profile\\n3️⃣ أضف مفتاح API /setapi\\n4️⃣ ستصلك وظائف مطابقة يومياً\\n5️⃣ قدم بنقرة واحدة!\\n\\n❓ *أسئلة شائعة:*\\n\\nما هو مفتاح Gemini API؟\\n• مفتاح مجاني من Google\\n• يستخدم لتوليد سيرتك الذاتية\\n• احصل عليه من: aistudio.google.com\\n\\nهل البوت مجاني؟\\n• نعم تماماً\\n• تحتاج فقط مفتاح Gemini الخاص بك\\n\\nللدعم: @Daw5d",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Show Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/users?telegram_id=eq.{{ $json.message.from.id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        }
      },
      "name": "Get User for Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "category",
              "value": "=in.({{ $json[0].categories.join(',') }})"
            },
            {
              "name": "order",
              "value": "posted_date.desc"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        }
      },
      "name": "Get User Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "functionCode": "// Format jobs list\nconst jobs = $input.item.json;\nconst user = $input.first().json[0];\n\nif (!jobs || jobs.length === 0) {\n  return {\n    json: {\n      chat_id: user.telegram_id,\n      message: 'لا توجد وظائف جديدة مطابقة لاهتماماتك حالياً.\\n\\nجرب /alljobs لعرض جميع الوظائف.'\n    }\n  };\n}\n\nlet message = `وظائف مطابقة لك (${jobs.length}): 🎯\\n\\n`;\n\njobs.forEach((job, index) => {\n  message += `${index + 1}. *${job.title}*\\n`;\n  if (job.company) message += `   🏢 ${job.company}\\n`;\n  message += `   📅 ${new Date(job.posted_date).toLocaleDateString('ar-YE')}\\n`;\n  message += `   /apply_${job.id}\\n\\n`;\n});\n\nreturn {\n  json: {\n    chat_id: user.telegram_id,\n    message: message\n  }\n};"
      },
      "name": "Format Jobs List",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send Jobs",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/cv_history",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "=eq.{{ $input.item.json.message.from.id }}"
            },
            {
              "name": "select",
              "value": "*,jobs(title,company)"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        }
      },
      "name": "Get CV History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "functionCode": "// Format CV history\nconst history = $input.item.json;\nconst chatId = $input.first().json.message.chat.id;\n\nif (!history || history.length === 0) {\n  return {\n    json: {\n      chat_id: chatId,\n      message: 'لم تقم بتوليد أي سيرة ذاتية بعد.\\n\\nاستخدم /jobs للبدء!'\n    }\n  };\n}\n\nlet message = `سجل السير الذاتية (${history.length}): 📄\\n\\n`;\n\nhistory.forEach((cv, index) => {\n  message += `${index + 1}. ${cv.jobs?.title || 'وظيفة محذوفة'}\\n`;\n  if (cv.jobs?.company) message += `   🏢 ${cv.jobs.company}\\n`;\n  message += `   📅 ${new Date(cv.created_at).toLocaleDateString('ar-YE')}\\n`;\n  message += `   ⏱️ ${cv.generation_time_ms || 'N/A'}ms\\n\\n`;\n});\n\nmessage += '\\n💡 استخدم /apply لتوليد سيرة ذاتية جديدة';\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message: message\n  }\n};"
      },
      "name": "Format History",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 500]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}"
      },
      "name": "Send History",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.active"
            },
            {
              "name": "order",
              "value": "posted_date.desc"
            },
            {
              "name": "limit",
              "value": "15"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        }
      },
      "name": "Get All Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 600]
    },
    {
      "parameters": {
        "functionCode": "// Format all jobs\nconst jobs = $input.item.json;\nconst chatId = $input.first().json.message.chat.id;\n\nif (!jobs || jobs.length === 0) {\n  return {\n    json: {\n      chat_id: chatId,\n      message: 'لا توجد وظائف متاحة حالياً.'\n    }\n  };\n}\n\nlet message = `جميع الوظائف المتاحة (${jobs.length}): 💼\\n\\n`;\n\njobs.forEach((job, index) => {\n  message += `${index + 1}. *${job.title}*\\n`;\n  if (job.company) message += `   🏢 ${job.company}\\n`;\n  message += `   📂 ${job.category}\\n`;\n  message += `   📅 ${new Date(job.posted_date).toLocaleDateString('ar-YE')}\\n`;\n  message += `   /apply_${job.id}\\n\\n`;\n});\n\nreturn {\n  json: {\n    chat_id: chatId,\n    message: message\n  }\n};"
      },
      "name": "Format All Jobs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Send All Jobs",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1120, 600]
    }
  ],
  "connections": {
    "Command Trigger": {
      "main": [[{"node": "Route Commands", "type": "main", "index": 0}]]
    },
    "Route Commands": {
      "main": [
        [{"node": "Extract API Key", "type": "main", "index": 0}],
        [{"node": "Show Help", "type": "main", "index": 0}],
        [{"node": "Get User for Jobs", "type": "main", "index": 0}],
        [{"node": "Get CV History", "type": "main", "index": 0}],
        [{"node": "Get All Jobs", "type": "main", "index": 0}]
      ]
    },
    "Extract API Key": {
      "main": [[{"node": "Save API Key", "type": "main", "index": 0}]]
    },
    "Save API Key": {
      "main": [[{"node": "Confirm API Key", "type": "main", "index": 0}]]
    },
    "Get User for Jobs": {
      "main": [[{"node": "Get User Jobs", "type": "main", "index": 0}]]
    },
    "Get User Jobs": {
      "main": [[{"node": "Format Jobs List", "type": "main", "index": 0}]]
    },
    "Format Jobs List": {
      "main": [[{"node": "Send Jobs", "type": "main", "index": 0}]]
    },
    "Get CV History": {
      "main": [[{"node": "Format History", "type": "main", "index": 0}]]
    },
    "Format History": {
      "main": [[{"node": "Send History", "type": "main", "index": 0}]]
    },
    "Get All Jobs": {
      "main": [[{"node": "Format All Jobs", "type": "main", "index": 0}]]
    },
    "Format All Jobs": {
      "main": [[{"node": "Send All Jobs", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null
}
